* {
  padding: 0;
  margin: 0;
  outline: none;
  font-family: 'Montserrat', 'Source Sans Pro', sans-serif;
  color: #39575f; }
  * *:focus {
    outline: none; }

h1 {
  font-size: 56px;
  color: #ffffff;
  font-family: 'Montserrat';
  font-weight: 600; }

h2 {
  font-size: 40px;
  color: #ffffff;
  font-family: 'Montserrat';
  font-weight: 300; }

h3 {
  font-size: 26px;
  color: #39575f;
  font-family: 'Montserrat';
  font-weight: 300; }
  h3 b {
    font-weight: 500;
    color: #31C0C8; }

h4 {
  font-size: 18px;
  color: #39575f;
  font-family: 'Montserrat';
  font-weight: 600; }

p {
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 400; }

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 37px; }
  h2 {
    font-size: 26px; } }

.nav-toggle {
  display: none;
  user-select: none;
  cursor: pointer;
  height: 20px;
  width: 30px;
  right: 30px;
  position: absolute;
  top: 40px;
  z-index: 999; }

.nav-toggle.nav-up {
  position: fixed; }

.nav-toggle .nav-toggle-bar,
.nav-toggle .nav-toggle-bar::after,
.nav-toggle .nav-toggle-bar::before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.5s ease;
  background: white;
  content: '';
  height: 4px;
  width: 100%; }

.nav-toggle .nav-toggle-bar.nav-up,
.nav-toggle .nav-toggle-bar.nav-up::after,
.nav-toggle .nav-toggle-bar.nav-up::before {
  background: #31C0C8; }

.nav-toggle.se .nav-toggle-bar.nav-up,
.nav-toggle.se .nav-toggle-bar.nav-up::after,
.nav-toggle.se .nav-toggle-bar.nav-up::before {
  background: #0398e1; }

.nav-toggle .nav-toggle-bar {
  margin-top: 0; }

.nav-toggle .nav-toggle-bar::after {
  margin-top: 9px; }

.nav-toggle .nav-toggle-bar::before {
  margin-top: -9px; }

.nav-toggle.expanded .nav-toggle-bar {
  background: transparent; }

.nav-toggle.expanded .nav-toggle-bar::after, .nav-toggle.expanded .nav-toggle-bar::before {
  background: white;
  margin-top: 0; }

.nav-toggle.expanded .nav-toggle-bar::after {
  transform: rotate(45deg); }

.nav-toggle.expanded .nav-toggle-bar::before {
  transform: rotate(-45deg); }

/* nav */
.nav {
  display: none;
  flex-flow: column;
  transition: right 0.5s ease;
  background: #39575f;
  color: white;
  cursor: pointer;
  height: 100vh;
  right: -100vw;
  padding: 100px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 998;
  color: white; }
  .nav.expanded {
    right: 0; }
  .nav .nav-button {
    display: block;
    color: white;
    font-size: 18px;
    padding: 20px 30px; }
    .nav .nav-button:hover {
      background-color: rgba(0, 0, 0, 0.15); }

@media only screen and (max-width: 768px) {
  .nav-toggle {
    display: unset;
    top: 30px; }
  .nav {
    display: flex; } }

.intro {
  position: relative;
  overflow: hidden; }
  .intro .intro-background {
    height: 570px;
    width: 100%;
    background: linear-gradient(to right, #015a9e, #0398e1);
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%); }
    .intro .intro-background .header {
      display: flex;
      flex-flow: row;
      align-items: center;
      justify-content: space-between;
      padding: 30px; }
      .intro .intro-background .header .logo {
        width: 182px;
        height: 52px; }
      .intro .intro-background .header .main-menu a {
        text-transform: uppercase;
        font-weight: 400;
        color: #ffffff;
        font-size: 11px;
        padding: 8px 2px;
        margin: 0 13px;
        text-decoration: none;
        cursor: pointer; }
        .intro .intro-background .header .main-menu a:hover {
          color: #ffffff;
          border-bottom: solid 1px #ffffff; }
          .intro .intro-background .header .main-menu a:hover.active {
            color: #ffffff; }
        .intro .intro-background .header .main-menu a.active {
          border-bottom: solid 1px #ffffff; }
        .intro .intro-background .header .main-menu a:last-child {
          background: rgba(0, 0, 0, 0.2);
          border-radius: 25px;
          padding: 8px 25px; }
          .intro .intro-background .header .main-menu a:last-child:hover {
            border-bottom: solid 1px transparent;
            background: rgba(0, 0, 0, 0.35); }
    .intro .intro-background .content {
      display: flex;
      flex-flow: column;
      align-items: center;
      margin-top: 90px; }
      .intro .intro-background .content p {
        margin-top: 50px;
        color: #ffffff;
        width: 380px;
        text-align: center;
        font-weight: 300; }

@keyframes shapeLeftAnimation {
  0%, 100% {
    top: -210px;
    left: -320px;
    transform: scale(1.35); }
  50% {
    top: -150px;
    left: -260px;
    transform: scale(1.15); } }

@keyframes shapeLeftShapeAnimation {
  0%, 100% {
    fill: #ffffff; }
  50% {
    fill: #39575f; } }

@keyframes shapeRightAnimation {
  0%, 100% {
    top: -160px;
    right: -150px;
    transform: scale(1.35); }
  50% {
    top: -220px;
    right: -210px;
    transform: scale(1.15); } }

@keyframes shapeRightShapeAnimation {
  0%, 100% {
    fill: #ffffff; }
  50% {
    fill: #39575f; } }
    .intro .intro-background .shapes-left {
      position: absolute;
      left: -290px;
      top: -180px;
      animation: shapeLeftAnimation 10s infinite;
      animation-timing-function: ease-in-out;
      z-index: -1; }
      .intro .intro-background .shapes-left svg {
        width: 568px;
        opacity: 0.08;
        user-select: none;
        pointer-events: none; }
        .intro .intro-background .shapes-left svg path {
          animation: shapeLeftShapeAnimation 20s infinite;
          animation-timing-function: ease-in-out; }
    .intro .intro-background .shapes-right {
      position: absolute;
      right: -190px;
      bottom: -180px;
      z-index: -1;
      animation: shapeRightAnimation 10s infinite;
      animation-timing-function: ease-in-out; }
      .intro .intro-background .shapes-right svg {
        width: 568px;
        opacity: 0.08;
        pointer-events: none; }
        .intro .intro-background .shapes-right svg path {
          animation: shapeRightShapeAnimation 30s infinite;
          animation-timing-function: ease-in-out; }
  .intro .arrow-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 50px;
    left: calc(50% - 80px);
    width: 160px;
    height: 38px;
    background-color: #0398e1;
    border-radius: 25px;
    transition: all 0.35s;
    color: white;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.1), 0 6px 15px 0 rgba(0, 0, 0, 0.1); }
    .intro .arrow-button:hover {
      background-color: #015a9e;
      transform: scale(1);
      box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.3), 0 6px 15px 0 rgba(0, 0, 0, 0.3); }

.sticky-header {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  position: fixed;
  width: calc(100% - 60px);
  top: -120px;
  left: 0;
  background: white;
  z-index: 997;
  transition: top 0.35s cubic-bezier(0.87, -0.41, 0.19, 1.44);
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.1), 0 6px 15px 0 rgba(0, 0, 0, 0.1); }
  .sticky-header .logo {
    width: 182px;
    height: 48px; }
  .sticky-header .main-menu.se a {
    color: #0398e1; }
  .sticky-header .main-menu a {
    text-transform: uppercase;
    font-weight: 400;
    color: #31C0C8;
    font-size: 11px;
    padding: 8px 2px;
    margin: 0 13px;
    text-decoration: none;
    cursor: pointer; }
    .sticky-header .main-menu a:hover {
      color: #39575f;
      border-bottom: solid 1px #39575f; }
      .sticky-header .main-menu a:hover.active {
        color: #31C0C8; }
    .sticky-header .main-menu a.active {
      border-bottom: solid 1px #31C0C8; }
  .sticky-header.nav-up {
    top: -7px; }
  .sticky-header.nav-down {
    top: -120px; }

@media only screen and (max-width: 768px) {
  .intro .intro-background {
    height: 450px;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .intro .intro-background .header {
      padding: 20px 30px; }
      .intro .intro-background .header .logo {
        width: 140px;
        height: 40px; }
      .intro .intro-background .header .main-menu {
        display: none; }
    .intro .intro-background .content {
      margin-top: 95px;
      padding: 0 30px; }
      .intro .intro-background .content h1, .intro .intro-background .content h2 {
        font-size: 30px;
        text-align: center; }
      .intro .intro-background .content h2 {
        margin-top: 10px; }
      .intro .intro-background .content p {
        margin-top: 30px;
        width: 100%;
        max-width: 450px; }
    .intro .intro-background .shapes-left {
      display: none; }
    .intro .intro-background .shapes-right {
      right: -330px;
      bottom: 100px; }
  .intro .arrow-button {
    bottom: 20px; }
  .sticky-header {
    padding: 20px 30px; }
    .sticky-header .logo {
      width: 140px;
      height: 37px; }
    .sticky-header .main-menu {
      display: none; }
    .sticky-header.nav-up {
      top: 0; }
    .sticky-header.nav-down {
      top: -120px; } }

.what {
  display: flex;
  flex-flow: row;
  justify-content: center;
  margin: auto;
  width: 860px;
  height: 500px; }
  .what .content {
    display: flex;
    flex-flow: column;
    align-content: flex-end;
    margin-top: 60px;
    width: 340px; }
    .what .content h3 {
      font-size: 22px;
      font-weight: 800;
      color: #0398e1;
      margin-top: 5px; }
    .what .content h4 {
      font-size: 22px;
      color: #39575f; }
    .what .content p {
      color: #39575f;
      margin-bottom: 15px; }
  .what .pictures .phone {
    width: 315px;
    transform: rotate(65deg) translateY(0);
    transform-origin: 0 100%;
    transition: transform 0.55s cubic-bezier(0.87, -0.41, 0.15, 1.2); }
    .what .pictures .phone.animate {
      transform: rotate(0deg) translateY(0); }

@media only screen and (max-width: 768px) {
  .what {
    flex-flow: column;
    width: calc(100% - 60px);
    height: auto;
    padding: 0 30px; }
    .what .content {
      align-items: center;
      justify-content: center;
      width: 100%; }
      .what .content h3, .what .content h4 {
        text-align: center;
        max-width: 500px; }
      .what .content p {
        text-align: center;
        max-width: 500px;
        margin-top: 0px; }
    .what .pictures {
      display: flex;
      align-items: center;
      margin: 30px 0; }
      .what .pictures .phone {
        transform: rotate(0deg) translateY(0);
        margin: auto;
        width: 315px; } }

.icons {
  position: relative;
  display: flex;
  flex-flow: column;
  width: 100%;
  margin: 0; }
  .icons .background {
    position: absolute;
    z-index: -1;
    bottom: 0;
    height: 325px;
    width: 100%;
    left: 0;
    background-color: #f7f8f8;
    clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
    transition: clip-path 0.75s cubic-bezier(0.87, -0.41, 0.19, 1.44); }
    .icons .background.animate {
      clip-path: polygon(0 50%, 100% 0, 100% 100%, 0 100%); }
  .icons .content-grid {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    justify-content: space-between;
    width: 860px;
    margin-top: 30px; }
    .icons .content-grid .item {
      display: flex;
      flex-flow: column;
      align-items: center;
      width: 33%;
      margin-bottom: 40px;
      opacity: 0;
      transform: translateY(50px);
      transition: all 0.75s cubic-bezier(0.87, -0.41, 0.19, 1.44);
      transition-delay: 0.30s; }
      .icons .content-grid .item:nth-child(2) {
        transition-delay: .35s; }
      .icons .content-grid .item:nth-child(3) {
        transition-delay: .40s; }
      .icons .content-grid .item:nth-child(4) {
        transition-delay: .45s; }
      .icons .content-grid .item:nth-child(5) {
        transition-delay: .50s; }
      .icons .content-grid .item:nth-child(6) {
        transition-delay: .55s; }
      .icons .content-grid .item.animate {
        opacity: 1;
        transform: translateY(0); }
      .icons .content-grid .item img {
        width: 150px;
        margin-bottom: 15px; }
      .icons .content-grid .item .description {
        font-size: 13px;
        font-weight: 400;
        text-align: center;
        margin-bottom: 20px; }
  .icons .content {
    align-self: center;
    width: 860px;
    margin-bottom: 40px; }
    .icons .content h4 {
      margin: auto;
      width: 70%;
      text-align: center; }

@media only screen and (max-width: 768px) {
  .icons {
    position: relative;
    overflow: hidden;
    width: calc(100% - 60px);
    padding: 0 30px;
    margin: 0; }
    .icons .background {
      height: 495px; }
      .icons .background.animate {
        clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%); }
    .icons .content {
      width: 100%;
      z-index: 2;
      margin-bottom: 10px; }
      .icons .content h4 {
        margin: auto;
        width: 100%;
        max-width: 450px;
        text-align: center;
        margin-top: 40px; }
    .icons .content-grid {
      width: 100%; }
      .icons .content-grid .item {
        width: 45%;
        margin-bottom: 20px; }
        .icons .content-grid .item img {
          width: 100px; } }

.package {
  display: flex;
  flex-flow: row;
  margin: 0;
  justify-content: center;
  padding: 80px 0 0 0;
  background-color: #f7f8f8;
  width: 100%; }
  .package .package-holder {
    width: 860px;
    display: flex;
    flex-flow: row; }
    .package .package-holder .content-phone {
      position: relative;
      display: flex;
      flex-flow: column;
      width: 55%; }
      .package .package-holder .content-phone img.phone {
        margin: 0;
        align-self: flex-start;
        width: 304px;
        height: auto;
        transform: translateY(150px);
        transition: all 0.75s cubic-bezier(0.87, -0.41, 0.19, 1.44); }
        .package .package-holder .content-phone img.phone.animate {
          transform: translateY(0); }
      .package .package-holder .content-phone .sign-up {
        position: absolute;
        z-index: 9;
        display: block;
        width: 160px;
        height: 38px;
        line-height: 38px;
        padding: 0;
        top: 360px;
        left: 70px;
        text-align: center;
        background-color: #ffffff;
        border-radius: 25px;
        transition: all 0.35s;
        color: #0398e1;
        text-decoration: none;
        font-size: 14px;
        text-transform: uppercase;
        box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.1), 0 6px 15px 0 rgba(0, 0, 0, 0.1);
        transform: translateY(150px);
        transition-delay: 0.35s;
        transition: all 0.75s cubic-bezier(0.87, -0.41, 0.19, 1.44); }
        .package .package-holder .content-phone .sign-up.animate {
          transform: translateY(0); }
        .package .package-holder .content-phone .sign-up:hover {
          background-color: #015a9e;
          transform: scale(1);
          color: #ffffff;
          box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.3), 0 6px 15px 0 rgba(0, 0, 0, 0.3); }
    .package .package-holder .content {
      display: flex;
      flex-flow: column;
      flex-grow: 1;
      width: 45%; }
      .package .package-holder .content .item {
        margin-top: 30px; }
        .package .package-holder .content .item .title {
          color: #0398e1;
          text-transform: uppercase;
          font-size: 18px;
          font-weight: 500; }
        .package .package-holder .content .item .description {
          font-size: 13px;
          font-weight: 400;
          margin-bottom: 20px; }

@media only screen and (max-width: 768px) {
  .package {
    flex-flow: row-reverse;
    margin: 0;
    justify-content: center;
    padding: 40px 0 0 0;
    background-color: #f7f8f8;
    width: 100%; }
    .package .package-holder {
      flex-flow: column-reverse; }
      .package .package-holder .content {
        margin-left: 30px;
        width: calc(100% - 60px);
        z-index: 2;
        max-width: 450px; }
        .package .package-holder .content p.subtitle {
          min-width: 200px;
          max-width: 100%; }
        .package .package-holder .content p.description {
          min-width: 200px;
          max-width: 100%; }
        .package .package-holder .content a.sign-in {
          margin: 40px 0; }
      .package .package-holder .content-phone {
        width: 100%;
        margin-bottom: 30px; }
        .package .package-holder .content-phone img.phone {
          align-self: center; }
        .package .package-holder .content-phone .sign-up {
          left: calc(50% - 80px); } }

.footer {
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 390px;
  background-image: url(../assets/images/backgrounds/footer.png);
  background-position: center; }
  .footer .logo {
    margin: 100px 0 30px 0;
    align-self: center;
    width: 44px; }
  .footer .menu {
    display: flex;
    flex-flow: row;
    margin-bottom: 25px; }
    .footer .menu a {
      color: #ffffff;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 13px;
      padding: 8px 2px;
      margin: 0 13px;
      text-decoration: none;
      cursor: pointer;
      border-bottom: solid 1px transparent; }
      .footer .menu a:hover {
        text-decoration: none;
        color: #30BDA5;
        border-bottom: solid 1px #30BDA5; }
  .footer a {
    display: flex;
    flex-flow: row;
    align-items: center;
    color: #ffffff;
    font-size: 12px;
    text-decoration: none;
    margin-bottom: 15px; }
    .footer a:hover {
      text-decoration: underline; }
    .footer a svg {
      width: 12px;
      height: 12px;
      margin-right: 8px; }
  .footer .privacy {
    flex-flow: row;
    margin-top: 15px;
    color: #90aab1;
    font-size: 11px; }
    .footer .privacy a {
      display: inline;
      color: #90aab1;
      font-size: 11px;
      margin-bottom: 0; }
      .footer .privacy a:hover {
        text-decoration: underline; }
  .footer .addresses {
    position: absolute;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    top: 160px;
    width: 180px;
    left: calc(50% + 350px); }
    .footer .addresses hr {
      width: 110px;
      border: 1px solid #30BDA5;
      margin: 20px 0; }
    .footer .addresses .title {
      font-weight: bold;
      color: #ffffff;
      font-size: 14px;
      text-transform: uppercase;
      margin-bottom: 10px;
      text-align: center; }
    .footer .addresses .address {
      text-align: center;
      color: #ffffff;
      font-weight: 300;
      font-size: 12px; }

@media only screen and (max-width: 1075px) {
  .footer {
    flex-flow: column;
    height: auto;
    width: calc(100% - 60px);
    padding: 50px 30px; }
    .footer .logo {
      margin: 0 0 40px 0;
      width: 44px; }
    .footer .menu {
      display: flex;
      flex-flow: row;
      justify-content: center;
      flex-wrap: wrap;
      margin: 0 0 40px 0; }
      .footer .menu a {
        font-size: 12px;
        padding: 10px 10px;
        margin: 0 10px; }
    .footer a.email {
      margin-top: 150px; }
    .footer .addresses {
      position: absolute;
      display: flex;
      flex-flow: row;
      align-items: flex-start;
      justify-content: center;
      top: 270px;
      width: calc(100% - 60px);
      left: 30px; }
      .footer .addresses hr {
        height: 70px;
        width: 0px;
        border: 1px solid #30BDA5;
        margin: 20px 35px; }
      .footer .addresses .australia,
      .footer .addresses .portugal {
        width: 150px; } }
